@media (max-width: 600px) {
  .nav-top #icon1 {
    font-size: 3vw;
    display: initial;
  }
  .nav-top #icon22 {
    font-size: 3vw;
    display: none;
  }
  .nav-links {
    display: none;
  }
  .nav-top nav {
    padding: 5vw 7vw;
  }
  .logo img {
    margin-top: -2vw;
    margin-left: -30vw;
    height: 40px;
  }
  .container-1-left {
    width: 100vw;
    background-color: #f2f3f7;
    margin-left: -3vw;
  }
  .container-1-left h1 {
    color: #1f2c3d;
    font-size: 7.5vw;
  }
  .container-1-left h4 {
    color: #1f2c3d;
    margin-top: 3vw;
    letter-spacing: 0.1vw;
    line-height: 4.3vw;
    width: 67vw;
  }
  .container-1-left button {
    background-color: #1f2c3d;
    color: #f2f3f7;
    margin-top: 1vw;
    width: 26vw;
    height: 6vw;
    font-size: 1vw;
  }

  .container-1-right {
    display: none;
  }
  .hello{
    display: initial;
    height: 80vw;
    margin-top: 60vw;
    width: 72vw;
  }
  .container-2 {
    margin-top: 13vw;
  }
  .container-2 h1 {
    font-size: 8vw;
    margin-right: 19vw;
    width: 77vw;
  }
  .container-2 h5 {
    width: 97vw;
  }
  .name {
    font-size: 3vw;
    margin-top: 37vw;
    margin-right: 64vw;
  }
  input[type="text"] {
    margin-top: 10vw;
    width: 64%;
    margin-right: 33vw;
  }
  .email {
    font-size: 3vw;
    margin-top: 53vw;
    margin-right: 77vw;
  }
  input[type="email"] {
    margin-top: 5.5vw;
    width: 64%;
    margin-right: 33vw;
}

.container-2 button {
    margin-right: 70vw;
    padding: 11px 36px;
    font-size: 2vw;
    margin-top: 3vw;
}
.container-3 {
  padding-top: 14vw;
}
.container-3 h1 {
    font-size: 7vw;
    width: 65vw;
    margin-right: 28vw;
}
.container-3 h4 {
    margin-right: 32vw;
}
.container-4 {
    padding: 7vw 25vw;
    grid-column-gap: 7.5vw;
    grid-row-gap: 1.5vw;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    margin-right: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6vw;
    margin-top: 74vw;
    margin-left: -16vw;
}
.container-4 svg {
    width: 14vw;
    height: 6vw;
}
.container-4 h5{
  font-size: 3vw;
}
.container-4 h3{
  font-size: 3.5vw;
}
.container-5 {
    display: block;
    padding-top: 68vw;
    padding-bottom: 4vw;
}
.container-5-left h1 {
    font-size: 6vw;
    width: 72vw;
}
.container-5-left h5 {
    font-size: 3vw;
    width: 73vw;
}
.container-5-right img{
    margin-top: 6vw;
    height: 36vw;
    margin-left: 15vw;
    width: 100vw;
}
.container-6-box {
    width: 67%;
    margin-left: 4vw;
    display: block;
}
.container-6-box-left h2 {
    font-size: 34px;
    width: 51vw;
}
.container-6-box-left h4 {
    width: 46vw;
}
.container-6-box-right form {
   padding: 115px 162px;
    margin-top: 11vw;
    width: 65vw;
    margin-left: -13vw;
    height: 85vw;
}
.container-6-box-right form input {
    width: 60vw;
    margin-left: -153px;
}
.container-6-box-right form h1 {
       margin-top: -92px;
    font-size: 27px;
    width: 58vw;
    margin-left: -26vw;
}
/* .container-6-box-right form input {
    height: 60px;
    width: 101%;
    padding: 21px 104px;
    margin-left: -20vw;
    margin-top: 2vw;
    border: 1px solid;
} */
#Message-Content {
    width: 50px;
    height: 81px;
    margin-left: -160px;
}
#Message-Content element.style{
  width: 360px;
}
.container-6-box-right form button {
   padding-top: 7px;
    margin-left: -27vw;
    width: 49vw;
    position: relative;
    top: -18vw;
}

#iframe{
  display: none;
}

element.style {
    display: none;
}
}
